@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");
/*
BreakPoints
phone = max-width: 320px;
mid-phone = min-width: 420px;
tab-port = min-width: 728px;
tab-land = min-width: 1024px;
big-desktop = min-width: 1440px;
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px; }

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  width: 85%;
  margin: 0 auto; }

.header {
  text-align: center;
  width: 85%;
  margin: 0 auto;
  margin-bottom: 40px; }
  .header .header__hero-container__img {
    max-width: 100%; }
  .header .header__text {
    color: #252b46;
    font-weight: 600; }
  .header .header__text-body {
    color: #9194a1;
    margin: 20px 0px; }
  .header .header__button {
    padding: 13px;
    margin: 0px 5px;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 1px 4px 8px #9194a1;
    font-family: "Rubik", sans-serif; }
    @media (max-width: 320px) {
      .header .header__button {
        width: 70%;
        margin: 0 auto;
        box-shadow: 2px -4px 10px #9194a1; } }
  .header .header__button--blue {
    background-color: #5368df;
    color: white; }
    @media (max-width: 320px) {
      .header .header__button--blue {
        margin-bottom: 10px; } }
  .header .header__button--grey {
    color: #9194a1;
    background-color: white; }

.section__features {
  text-align: center;
  width: 85%;
  margin: 50px auto; }
  .section__features .section__section-header-text {
    color: #252b46;
    font-weight: 600; }
  .section__features .section__section-body-text {
    color: #9194a1;
    margin: 20px 0px; }
  .section__features .section__tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .section__features .section__tabs__tablink:first-child {
    border-top: 1px solid #9194a1; }
  .section__features .section__tabs__tablink {
    font-family: "Rubik", sans-serif;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    color: #9194a1;
    font-weight: 400;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #9194a1; }
    .section__features .section__tabs__tablink > div {
      width: 70%;
      margin: 0 auto; }
  .section__features .section__tabs__tablink--active {
    color: #252b46;
    position: relative; }
  .section__features .section__tabs__tablink--active::after {
    content: "";
    position: absolute;
    display: block;
    width: 70%;
    height: 3px;
    color: #fa5757;
    background-color: #fa5757;
    top: 27px;
    left: 31px; }
    @media (max-width: 320px) {
      .section__features .section__tabs__tablink--active::after {
        left: 27px; } }
    @media (min-width: 425px) {
      .section__features .section__tabs__tablink--active::after {
        left: 35px; } }
    @media (min-width: 768px) {
      .section__features .section__tabs__tablink--active::after {
        width: 30%;
        left: 154px; } }
  .section__features .section__bookmark__image,
  .section__features .section__searching__image,
  .section__features .section__sharing__image {
    max-width: 100%;
    margin: 50px 0; }
  .section__features .section__bookmark-header-text,
  .section__features .section__searching-header-text,
  .section__features .section__sharing-header-text {
    color: #252b46;
    font-weight: 600; }
  .section__features .section__bookmark-body-text,
  .section__features .section__searching-body-text,
  .section__features .section__sharing-body-text {
    color: #9194a1;
    margin: 20px 0px; }

.section__extensions {
  width: 85%;
  margin: 90px auto;
  text-align: center; }
  .section__extensions .section__extensions__header-text,
  .section__extensions .section__extensions__browsers__primaryText {
    color: #252b46;
    font-weight: 600; }
  .section__extensions .section__extensions__body-text,
  .section__extensions .section__extensions__browsers__secondaryText {
    color: #9194a1;
    margin: 20px 0px; }
  .section__extensions .section__extensions__browsers {
    width: 85%;
    margin: 60px auto;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.178);
    border-radius: 20px; }
  .section__extensions .section__extensions__browsers-imgContainer {
    padding: 45px 0px 0px 0px; }
  .section__extensions .section__extensions__browsers__primaryText {
    padding: 28px 0px 0px 0px; }
  .section__extensions .section__extensions__browsers__secondaryText {
    margin: 10px 0px; }
  .section__extensions .section__extensions__actionContainer {
    background-image: url("/images/bg-dots.svg");
    background-repeat: no-repeat;
    margin: 40px 0px 0px 0px; }
  .section__extensions .section__extensions__browsers__action {
    font-family: "Rubik", sans-serif;
    padding: 13px 20px;
    width: 80%;
    margin: 30px 0px 20px 0px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    background-color: #5368df; }

.section__faqs {
  width: 85%;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0px; }
  .section__faqs .section__faqs-header-text {
    color: #252b46;
    font-weight: 600; }
  .section__faqs .section__faqs-body-text {
    color: #9194a1;
    margin: 20px 0px; }
  .section__faqs .section__accordion {
    text-align: left; }
  .section__faqs .section__accordion__button {
    font-family: "Rubik", sans-serif;
    text-align: left;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    font-weight: 400;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid #9194a1;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .section__faqs .section__accordion__content {
    display: none; }
  .section__faqs .section__accordion__buttonInfo {
    font-family: "Rubik", sans-serif;
    padding: 13px 18px;
    margin: 40px 0px;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 1px 4px 8px #9194a1;
    background-color: #5368df;
    color: white; }

.section__newsletter {
  text-align: center;
  width: 100%;
  background-color: #5368df; }
  .section__newsletter .section__newsletter__secondaryText {
    color: white;
    margin: 20px 0px;
    letter-spacing: 5px;
    font-size: 14px;
    padding-top: 60px; }
  .section__newsletter .section__newsletter__primaryText {
    color: white;
    font-weight: 600; }
  @media (min-width: 768px) {
    .section__newsletter .section__newsletter__inputContainer {
      width: 40%; } }
  @media (min-width: 768px) {
    .section__newsletter .section__newsletter__cta {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px; } }
  .section__newsletter .section__newsletter__inputState {
    width: 80%;
    background-color: #fa5757;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    display: none; }
  .section__newsletter .section__newsletter__input {
    padding: 13px 20px;
    margin: 30px 0px 5px 0px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #9194a1;
    font-family: "Rubik", sans-serif; }
    @media (min-width: 768px) {
      .section__newsletter .section__newsletter__input {
        margin: 0;
        width: 90%; } }
  .section__newsletter .section__newsletter__button {
    font-family: "Rubik", sans-serif;
    padding: 13px 20px;
    width: 80%;
    margin: 10px 0px 50px 0px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: #fa5757; }
    @media (min-width: 768px) {
      .section__newsletter .section__newsletter__button {
        margin: 0;
        width: 20%;
        padding: 13px 0px; } }

.footer {
  font-family: "Rubik", sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0px 100px 0px;
  text-align: center;
  background-color: #252b46; }
  @media (min-width: 768px) {
    .footer {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px 60px; } }
  @media (min-width: 768px) {
    .footer .footer__navlinks {
      display: inline-flex;
      justify-content: space-between; } }
  .footer .footer_link {
    color: #9194a1;
    text-decoration: none;
    padding: 10px 0px;
    display: block; }
    @media (min-width: 768px) {
      .footer .footer_link {
        padding: 0px 10px; } }
  .footer .footer__socials {
    width: 20%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media (min-width: 768px) {
      .footer .footer__socials {
        text-align: end;
        margin: 0;
        padding: 20px 0px;
        justify-content: flex-end; } }
    @media (min-width: 768px) {
      .footer .footer__socials .footer__socials__iconContainer {
        padding-right: 10px; } }
