@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

$color-primary-blue: hsl(231, 69%, 60%);
$color-primary-red: hsl(0, 94%, 66%);
$color-gray-blue: hsl(229, 8%, 60%);
$color-dark-blue: hsl(229, 31%, 21%);

/*
BreakPoints
phone = max-width: 320px;
mid-phone = min-width: 420px;
tab-port = min-width: 728px;
tab-land = min-width: 1024px;
big-desktop = min-width: 1440px;
*/

@mixin responsive($Breakpoint) {
  @if $Breakpoint == phone {
    @media (max-width: 320px) {
      @content;
    }
  }
  @if $Breakpoint == mid-phone {
    @media (min-width: 425px) {
      @content;
    }
  }
  @if $Breakpoint == tab-port {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $Breakpoint == tab-land {
    @media (min-width: 1024px) {
      @content;
    }
  }
  @if $Breakpoint == big-desktop {
    @media (min-width: 1440px) {
      @content;
    }
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0px;
  width: 80%;
  margin: 0 auto;

  @include responsive(tab-land) {
    padding: 35px 0px;
  }

  .nav__hamburger-menu {
    @include responsive(tab-land) {
      display: none;
    }
  }

  .nav__desktop {
    display: none;

    .nav__desktop__links {
      margin: 0px 19px;
      text-decoration: none;
      color: inherit;
      font-size: 14px;

      &:hover {
        color: $color-primary-red;
      }

      &:last-child {
        background-color: $color-primary-red;
        color: white;
        padding: 5px 19px;
        border-radius: 4px;
        border: 2px solid transparent;
        box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.151);
        font-weight: 400;

        &:hover {
          border: 2px solid $color-primary-red;
          background-color: white;
          color: $color-primary-red;
          font-weight: 400;
        }
      }
    }

    @include responsive(tab-land) {
      display: block;
    }
  }
}

.header {
  text-align: center;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 40px;

  @include responsive(tab-land) {
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    margin-top: 30px;
  }

  .header__hero-container {
    @include responsive(tab-land) {
      width: 49%;
    }
  }

  .header__hero-container__img {
    max-width: 100%;

    @include responsive(tab-land) {
      max-width: 107%;
    }
  }

  .header__hero-text {
    @include responsive(tab-land) {
      width: 50%;
    }
  }

  .header__text {
    letter-spacing: 1px;
    color: $color-dark-blue;
    font-weight: 600;
  }

  .header__text-body {
    color: $color-gray-blue;
    margin: 20px 0px;
    line-height: 26px;
  }

  .header__button {
    padding: 13px;
    margin: 0px 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    box-shadow: 1px 4px 8px $color-gray-blue;
    font-family: "Rubik", sans-serif;
    cursor: pointer;

    @include responsive(phone) {
      width: 70%;
      margin: 0 auto;
      box-shadow: 2px -4px 10px $color-gray-blue;
    }

    @include responsive(tab-land) {
      margin: 0px;
      margin-right: 5px;
    }
  }

  .header__button--blue {
    background-color: $color-primary-blue;
    color: white;
    border: 2px solid transparent;

    &:hover {
      color: $color-primary-blue;
      background-color: white;
      border: 2px solid $color-primary-blue;
      font-weight: 500;
    }

    @include responsive(phone) {
      margin-bottom: 10px;
    }
  }

  .header__button--grey {
    color: $color-gray-blue;
    background-color: white;
    border: 2px solid transparent;

    &:hover {
      color: $color-gray-blue;
      background-color: white;
      border: 2px solid $color-gray-blue;
      font-weight: 500;
    }
  }
}

.section__features {
  text-align: center;
  width: 80%;
  margin: 50px auto;

  .section__section-header-text {
    color: $color-dark-blue;
    font-weight: 600;
  }

  .section__section-body-text {
    color: $color-gray-blue;
    margin: 20px 0px;
    line-height: 26px;

    @include responsive(tab-land) {
      width: 40%;
      margin: 20px auto;
    }
  }

  .section__tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include responsive(tab-land) {
      flex-direction: row;
      width: 58%;
      margin: 0 auto;
    }
  }

  .section__tabs__tablink:first-child {
    border-top: 1px solid $color-gray-blue;

    @include responsive(tab-land) {
      border-top: none;
    }
  }

  .section__tabs__tablink {
    font-family: "Rubik", sans-serif;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    color: $color-gray-blue;
    font-weight: 400;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid $color-gray-blue;

    & > div {
      width: 70%;
      margin: 0 auto;
      cursor: pointer;

      &:hover {
        color: $color-primary-red;
      }
    }
  }

  .section__tabs__tablink--active {
    color: $color-dark-blue;
    position: relative;
  }

  .section__tabs__tablink--active::after {
    content: "";
    position: absolute;
    display: block;
    width: 70%;
    height: 3px;
    color: $color-primary-red;
    background-color: $color-primary-red;
    top: 27px;
    left: 31px;

    @include responsive(phone) {
      left: 27px;
    }

    @include responsive(mid-phone) {
      left: 35px;
    }

    @include responsive(tab-port) {
      width: 30%;
      left: 154px;
    }

    @include responsive(tab-land) {
      width: 100%;
      left: 0;
    }
  }

  .section__tabcontent {
    @include responsive(tab-port) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: left;
    }

    @include responsive(tab-land) {
      width: 89%;
      margin: 0 auto;
    }
  }

  .section__tabcontent__hide {
    display: none;
  }

  .section__bookmark__imageContainer,
  .section__searching__imageContainer,
  .section__sharing__imageContainer {
    @include responsive(tab-port) {
      width: 80%;
    }

    @include responsive(tab-land) {
      width: 70%;
    }
  }

  .section__textContent {
    @include responsive(tab-port) {
      width: 80%;
      margin-left: 30px;
    }

    @include responsive(tab-land) {
      width: 70%;
      margin-left: 100px;
    }
  }

  .section__bookmark__image,
  .section__searching__image,
  .section__sharing__image {
    max-width: 100%;
    margin: 50px 0;

    // @include responsive(tab-port) {
    //   max-width: 105%;
    // }
  }

  .section__bookmark-header-text,
  .section__searching-header-text,
  .section__sharing-header-text {
    color: $color-dark-blue;
    font-weight: 600;
  }

  .section__bookmark-body-text,
  .section__searching-body-text,
  .section__sharing-body-text {
    color: $color-gray-blue;
    margin: 20px 0px;
    line-height: 26px;
  }
}

.section__extensions {
  width: 80%;
  margin: 90px auto;
  text-align: center;

  .section__extensions__header-text,
  .section__extensions__browsers__primaryText {
    color: $color-dark-blue;
    font-weight: 600;
  }

  .section__extensions__body-text,
  .section__extensions__browsers__secondaryText {
    color: $color-gray-blue;
    margin: 20px 0px;
    line-height: 26px;

    @include responsive(tab-land) {
      width: 40%;
      margin: 20px auto;
    }
  }

  .section__extensions__browsers {
    width: 85%;
    margin: 60px auto;
    box-shadow: 0px 15px 20px rgba(0, 0, 0, 0.178);
    border-radius: 20px;

    @include responsive(tab-port) {
      height: 430px;
      width: 55%;
    }

    @include responsive(tab-land) {
      width: 28%;
    }

    &:nth-child(2) {
      @include responsive(tab-land) {
        margin: 100px 63px 0px 0px;
      }
    }

    &:last-child {
      @include responsive(tab-land) {
        margin: 190px 0px 0px 0px;
      }
    }
  }

  .section__extensions__browsers-imgContainer {
    padding: 45px 0px 0px 0px;
  }

  .section__extensions__browsers__container {
    @include responsive(tab-land) {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 87%;
      margin: 0 auto;
    }
  }

  .section__extensions__browsers__primaryText {
    padding: 28px 0px 0px 0px;
  }

  .section__extensions__browsers__secondaryText {
    margin: 10px 0px;

    @include responsive(tab-land) {
      width: 100%;
    }
  }

  .section__extensions__actionContainer {
    background-image: url("/images/bg-dots.svg");
    background-repeat: no-repeat;
    margin: 40px 0px 0px 0px;

    @include responsive(tab-port) {
      background-repeat: no-repeat;
      background-position: top center;
    }
  }

  .section__extensions__browsers__action {
    font-family: "Rubik", sans-serif;
    padding: 13px 20px;
    width: 80%;
    margin: 30px 0px 20px 0px;
    border: none;
    outline: none;
    border-radius: 3px;
    color: white;
    background-color: $color-primary-blue;
    cursor: pointer;

    &:hover {
      background-color: white;
      border: 2px solid $color-primary-blue;
      color: $color-primary-blue;
      font-weight: 500;
    }

    @include responsive(tab-port) {
      margin: 40px 0px 40px 0px;
    }
  }
}

.section__faqs {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  padding: 70px 0px;

  .section__faqs-header-text {
    color: $color-dark-blue;
    font-weight: 600;
  }

  .section__faqs-body-text {
    color: $color-gray-blue;
    margin: 20px 0px;
    line-height: 26px;

    @include responsive(tab-port) {
      width: 34%;
      margin: 20px auto;
    }
  }

  .section__accordion {
    text-align: left;

    @include responsive(tab-land) {
      width: 47%;
      margin: 20px auto;
    }
  }

  .section__accordion__button {
    font-family: "Rubik", sans-serif;
    text-align: left;
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 12px;
    font-weight: 400;
    background-color: inherit;
    border: none;
    border-bottom: 1px solid $color-gray-blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    &:hover {
      color: $color-primary-red;
    }
  }

  .section__accordion__content {
    display: none;
    width: inherit;
  }

  .section__accordion__buttonInfo {
    font-family: "Rubik", sans-serif;
    padding: 13px 18px;
    margin: 40px 0px;
    border: none;
    outline: none;
    border-radius: 3px;
    box-shadow: 1px 4px 8px $color-gray-blue;
    background-color: $color-primary-blue;
    color: white;
    cursor: pointer;
  }
}

.section__newsletter {
  text-align: center;
  width: 100%;
  // margin: 50px 0px;
  background-color: $color-primary-blue;

  .section__newsletter__secondaryText {
    color: white;
    margin: 20px 0px;
    letter-spacing: 5px;
    font-size: 14px;
    padding-top: 60px;
  }

  .section__newsletter__primaryText {
    color: white;
    font-weight: 600;
  }

  .section__newsletter__inputContainer {
    @include responsive(tab-port) {
      width: 40%;
    }
  }

  .section__newsletter__cta {
    @include responsive(tab-port) {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 50px;
    }
  }

  .section__newsletter__inputState {
    width: 80%;
    background-color: $color-primary-red;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px auto;
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 20px;
    display: none;
  }

  .section__newsletter__input {
    padding: 13px 20px;
    margin: 30px 0px 5px 0px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 5px;
    color: $color-gray-blue;
    font-family: "Rubik", sans-serif;

    @include responsive(tab-port) {
      margin: 0;
      width: 90%;
    }
  }

  .section__newsletter__button {
    font-family: "Rubik", sans-serif;
    padding: 14px 20px;
    width: 80%;
    margin: 10px 0px 50px 0px;
    border: 2px solid transparent;
    outline: none;
    border-radius: 5px;
    color: white;
    background-color: $color-primary-red;
    cursor: pointer;

    &:hover {
      background-color: white;
      color: $color-primary-red;
      border: 2px solid $color-primary-red;
      font-weight: 500;
    }

    @include responsive(tab-port) {
      margin: 0;
      width: 20%;
      padding: 13px 0px;
    }

    @include responsive(tab-land) {
      margin: 0;
      width: 10%;
      padding: 13px 0px;
    }
  }
}

.footer {
  font-family: "Rubik", sans-serif;
  width: 100%;
  margin: 0 auto;
  padding: 30px 0px 100px 0px;
  text-align: center;
  // padding: 60px 0px 100px 0px;
  background-color: $color-dark-blue;

  @include responsive(tab-port) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
  }

  .footer__navlinks {
    @include responsive(tab-port) {
      display: inline-flex;
      justify-content: space-between;
    }
  }

  .footer_link {
    color: $color-gray-blue;
    text-decoration: none;
    padding: 10px 0px;
    display: block;

    &:hover {
      color: $color-primary-red;
    }

    @include responsive(tab-port) {
      padding: 0px 10px;
    }
  }
  // .footer__navlinks__img {
  //   background-color: white;
  // }

  .footer__socials {
    width: 20%;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include responsive(tab-port) {
      text-align: end;
      margin: 0;
      padding: 20px 0px;
      justify-content: flex-end;
    }

    .footer__socials__iconContainer {
      @include responsive(tab-port) {
        padding-right: 10px;
        cursor: pointer;
      }
    }

    .footer__socials__icon:hover {
      color: $color-primary-red;
    }
  }
}
